<Form Model="questionOptionView"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed"
      LabelColSpan="6"
      WrapperColSpan="12">
    <FormItem Label="Nội dung câu hỏi">
        <TextArea @bind-Value="@questionOptionView.Content" Rows="4" Placeholder="Nhập nội dung câu hỏi"/>
    </FormItem>
    <FormItem Label="Ảnh số liệu (nếu có)">
        <Upload Action="https://localhost:7247/api/Question/upload-image"
                Name="file"
                Data="uploadProps"
                ShowUploadList="true"
                OnSingleCompleted="OnSingleCompleted"
                Accept=".jpg,.jpeg,.png">
            <Button Icon="upload">
                <span>Tải ảnh lên</span>
            </Button>
        </Upload>
    </FormItem>
    <FormItem Label="Lời giải">
        <TextArea 
        @bind-Value="@questionOptionView.Answer"
        Rows="4"
        Placeholder="Nhập lời giải" />
    </FormItem>
    <FormItem Label="Khối">
        <Input @bind-Value="@questionOptionView.Grade" Placeholder="Nhập khối" />
    </FormItem>
    <FormItem Label="Bài">
        <Input @bind-Value="@questionOptionView.Unit" Placeholder="Nhập bài" />
    </FormItem>
    <FormItem Label="Phần">
        <Select DataSource="typeQuestion"
                TItemValue="string"
                TItem="string"
                @bind-Value="@questionOptionView.ProbabilityOrStatistic"
                @* OnSelectedItemChanged="OnSelectedType" *@
                Placeholder="Chọn phần">
        </Select>
    </FormItem>
    <FormItem Label="Đáp án">
        <Space>
            <SpaceItem>
                <Input @bind-Value="@questionOptionView.Options[0].Content" Placeholder="Nhập đáp án đúng" />
            </SpaceItem>
            <SpaceItem>
                <Input @bind-Value="@questionOptionView.Options[1].Content" Placeholder="Nhập đáp án sai" />
            </SpaceItem>
            <SpaceItem>
                <Input @bind-Value="@questionOptionView.Options[2].Content" Placeholder="Nhập đáp án sai" />
            </SpaceItem>
            <SpaceItem>
                <Input @bind-Value="@questionOptionView.Options[3].Content" Placeholder="Nhập đáp án sai" />
            </SpaceItem>
        </Space>
    </FormItem>

    <FormItem WrapperColOffset="6" WrapperColSpan="12">
        @if (isAdd)
        {
            <Button Type="ButtonType.Primary" HtmlType="submit" Loading="isLoading" Disabled="isLoading">
                Thêm câu hỏi
            </Button>
        }
        else
        {
            <Button Type="ButtonType.Primary" HtmlType="submit" Loading="isLoading" Disabled="isLoading">
                Cập nhật câu hỏi
            </Button>
        }
    </FormItem>
</Form>