@page "/questionlist"
@using BlazorApp.Components
@using Shared.ModelView


<PageTitle>Quản lý câu hỏi</PageTitle>

<div>
    <Row Gutter="8" Style="margin-bottom: 8px">
        <Col Span="24">
        <Space>
            <SpaceItem>
                <Button Type="ButtonType.Primary" OnClick="OnAdd">Thêm</Button>
            </SpaceItem>
            <SpaceItem>
                <Button Danger Disabled="@(!selectedRows.Any())" Onclick="OnDeleteSelected">Xóa</Button>
            </SpaceItem>
            <SpaceItem>
                <Search Onsearch="OnSelectContent" @bind-Value="selectedContent" Placeholder="Nhập nội dung" EnterButton="true" />
            </SpaceItem>
                @*             <SpaceItem>
                <Input OnPressEnter="OnSelectUnit" @bind-Value="selectedUnit" Placeholder="Nhập bài" />
            </SpaceItem> *@
            <SpaceItem>
                <Select DataSource="typeQuestion"
                        TItemValue="string"
                        TItem="string"
                        @bind-Value="selectedProbabilityOrStatistic"
                        OnSelectedItemChanged="OnSelectProbabilityOrStatistic"
                        Placeholder="Chọn phần">
                </Select>
            </SpaceItem>
            <SpaceItem>
                <Select DataSource="grades"
                        TItemValue="int"
                        TItem="int"
                        @bind-Value="selectedGrade"
                        OnSelectedItemChanged="OnSelectGrade"
                        Placeholder="Chọn khối">
                </Select>
            </SpaceItem>
        </Space>
        </Col>
    </Row>
    <Row Gutter="8">
        <Col Span="24">
        <Table DataSource="@questionOptionViewPage"
               TItem="QuestionOptionView"
               Bordered
               Total="TotalCount"
               PageIndex="questionSearchModel.pageIndex"
               PageSize="8"
               OnChange="OnChange"
               SelectedRows="selectedRows"
               SelectedRowsChanged="OnSelectedRowsChanged">
            <ColumnDefinitions>
                <Selection />
                <Column @bind-Field="@context.Content" Title="Nội dung" Width="120px" Ellipsis="true" EllipsisShowTitle="true"></Column>
                <Column @bind-Field="@context.Answer" Title="Lời giải" Width="120px" Ellipsis="true" EllipsisShowTitle="true"></Column>
                <Column @bind-Field="@context.ImageUrl" Title="Url ảnh(nếu có)" Width="120px"></Column>
                <Column @bind-Field="@context.Grade" Title="Khối" Width="120px"></Column>
                <Column @bind-Field="@context.Unit" Title="Bài" Width="120px"></Column>
                <Column @bind-Field="@context.ProbabilityOrStatistic" Title="Phần" Width="120px"></Column>
                <ActionColumn Title="Thao tác" Width="120px">
                    <Space>
                        <SpaceItem>
                            <Button Type="ButtonType.Text" OnClick="() => OnEdit(context)">
                                <Icon Type="info-circle" Theme="IconThemeType.Outline" />
                            </Button>
                        </SpaceItem>
                        <SpaceItem>
                            <Button Danger Type="ButtonType.Text" OnClick="() => OnDelete(context)">
                                <Icon Type="delete" Theme="IconThemeType.Outline" />
                            </Button>
                        </SpaceItem>
                    </Space>
                </ActionColumn>
            </ColumnDefinitions>
        </Table>
        </Col>
    </Row>
    <Drawer Closable
            Visible="isedit"
            Title='("Thông tin câu hỏi")'
            OnClose="OnClodeDrawer"
            Width="100%">
        <Template>
            @if (isedit)
            {
                <AddEditQuestion @ref="addEditQuestion"
                                 isEdit="@true"
                                 OnSuccess="OnAddEditSuccess"
                                 questionOptionView="row">
                </AddEditQuestion>
            }
        </Template>
    </Drawer>
    <Drawer Closable
            Visible="isadd"
            Title='("Thêm Câu hỏi")'
            OnClose="OnClodeDrawer"
            Width="100%">
        <Template>
            @if (isadd)
            {
                <AddEditQuestion @ref="addEditQuestion"
                                 OnSuccess="OnAddEditSuccess"
                                 isAdd="@true">
                </AddEditQuestion>
            }
        </Template>
    </Drawer>
</div>
