@page "/userlist"
@using Shared.Models
@using BlazorApp.Components

<div>
    <Row Gutter="8">
        <Col Span="24">
        <Space>
            <SpaceItem>
                Xóa
            </SpaceItem>
            <SpaceItem>
                tìm theo tên
            </SpaceItem>
            <SpaceItem>
                tìm theo role
            </SpaceItem>
        </Space>
        </Col>
    </Row>
    <Row Gutter="8">
        <Col Span="24">
        <Table DataSource="@userPage"
               TItem="User"
               Bordered
               Total="TotalCount"
               PageIndex="userSearchModel.pageIndex"
               PageSize="8"
               OnChange="OnChange"
               @bind-SelectedRows="selectedRows">
            <ColumnDefinitions>
                <Selection Key="@context.UserName" />
                <Column @bind-Field="@context.FullName" Title="Họ tên" Width="120px"></Column>
                <Column @bind-Field="@context.Email" Title="Email" Width="120px"></Column>
                <Column @bind-Field="@context.UserName" Title="Tên đang nhập" Width="120px"></Column>
                <Column @bind-Field="@context.Password" Title="Mật khẩu" Width="120px"></Column>
                <Column @bind-Field="@context.Role" Title="Vai trò" Width="120px"></Column>
                <ActionColumn Title="Thao tác" Width="120px">
                    <Space>
                        <SpaceItem>
                            <Button Type="ButtonType.Text" OnClick="() => OnEdit(context)">
                                <Icon Type="info-circle" Theme="IconThemeType.Outline" />
                            </Button>
                        </SpaceItem>
                        <SpaceItem>
                            <Button Danger Type="ButtonType.Text" OnClick="() => OnDelete(context)">
                                <Icon Type="delete" Theme="IconThemeType.Outline" />
                            </Button>
                        </SpaceItem>
                    </Space>
                </ActionColumn>
            </ColumnDefinitions>
        </Table>
        </Col>
    </Row>
    <Drawer Closable
            Visible="isedit"
            Title='("Thông tin tài khoản")'
            OnClose="OnClodeDrawer"
            Width="600">
        <Template>
            <EditUserAdmin @ref="editUserAdmin"
                           user="row">
            </EditUserAdmin>
        </Template>
    </Drawer>
</div>


